*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-color: white;
}
.container{
        /* layout flexbox, converte ow itens em colunas*/
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(201, 206, 202);
    flex-direction: row;/*row, row-reverse- column, column-reverse*/
    justify-content:center;
    padding-top: 1%;
    padding-bottom: 1%;
    row-gap: 30px;
    column-gap: 50px;
    flex-wrap: wrap;
    align-items: center;/* é nessesário definir uma altura para o container*/
    height: 100%;/* ocupa 100% de view height*/

}
.box{
    width: 320px;
    height: 150px;
    font-size: 30px;
    background-color: rgb(178, 190, 180);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
}
.container1{
    display: flex;
    background-color: rgb(204, 198, 198);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    width: 100%;
    height: auto;/* usar altura automatica*/
    flex-wrap: wrap;
    row-gap: 30px;
    font-size: 30px;
    
    
  
}
.h1{
 
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin-top: 5%;
    

}


.img{ 
 background-color: aqua;
    width: 100%;
    height: auto;
    align-items: center;
    justify-self:center;
    flex-direction:row;
    margin-top: 5%;
    margin-bottom: 50%;
    margin-right: 50%;

   

}
   
   

.footer{
    display: flex;
    background-color:   rgba(226, 148, 96, 0.979);
    flex-direction: row;/*row, row-reverse- column, column-reverse*/
    justify-content:center;
    row-gap: 10px;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: center;/* é nessesário definir uma altura para o container*/
    height: 100%;/* ocupa 100% de view height*/

    
}
.direitos{
    background-color: aqua;
 
}

.box2{
 
    height: 100px;
    font-size: 25px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}